:root {
  font-family: "Merriweather";
  line-height: 1.5;
  font-weight: 400;

  --header-font: "Montserrat";

  --red-color: #ff6f61;
  --red-hover: #e65c50;
  --yellow-color: #ffd700;
  --light-color: #f5f5f5;
  --dark-color: #333333;
  --blue-color: #008cba;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

h1 {
  font-size: 36px;
  font-family: var(--header-font);
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-family: var(--header-font);
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

button {
  background-color: var(--red-color);
  padding: 16px 27px;
  border-radius: 10px;
  border: none;
  color: var(--light-color);
  font-size: 18px;
  font-family: var(--header-font);
}

button a {
  color: var(--light-color);
  text-decoration: none;
  font-size: 18px;
  font-family: var(--header-font);
}

button:hover {
  background-color: var(--red-hover);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.sectionLineSmall {
  width: 100%;
  margin: 32px 0;
}

@media (min-width: 745px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 36px;
  }

  h4 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  button {
    padding: 20px 27px;
    font-size: 20px;
  }

  button a {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 32px;
  }
}
